.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg0);
}

.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: 85px;
  align-items: flex-start;
  flex-direction: column;
}

.home-icon08 {
  fill: var(--lightmodetext);
  width: 36px;
  height: 36px;
  margin: var(--dl-space-space-unit);
}
.home-icon10 {
  fill: var(--lightmodetext);
  width: 36px;
  height: 36px;
  margin: var(--dl-space-space-unit);
}
.home-projects1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container {
  margin-top: 40px;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text009 {
  color: var(--lightmodetext);
  font-size: 48px;
  font-family: "Kanit";
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 2px;
  text-transform: none;
  text-decoration: none;
}
.home-text011 {
  color: var(--bg1);
}
.home-text013 {
  color: var(--lightmodetext);
  font-size: 24px;
  align-self: flex-start;
  text-align: center;
  font-family: "Source Code Pro";
  line-height: 1.55;
  letter-spacing: 2px;
  text-transform: none;
  text-decoration: none;
}
.home-projects2 {
  width: 80%;
  display: grid;
  padding: var(--dl-space-space-doubleunit);
  grid-gap: var(--dl-space-space-fiveunits);
  max-width: 1400px;
  grid-template-columns: 1fr 1fr;
}
.home-gallery-card {
  width: 100%;
  height: 560px;
  display: flex;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  align-items: center;
  border-color: var(--dl-color-gray-800);
  border-width: 1px;
  border-radius: 24px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--bg2);
}
.home-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-container02 {
  height: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-project-detail {
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.home-container03 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-end;
}
.home-text014 {
  color: rgb(116, 198, 157);
  font-size: 1.5rem;
  font-family: "Source Code Pro";
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 2px;
  text-transform: none;
  text-decoration: none;
}
.home-text018 {
  color: var(--lightmodetext);
  font-size: 15px;
  align-self: flex-start;
  font-family: "Source Code Pro";
}
.home-text020 {
  font-style: italic;
  font-weight: 400;
}
.home-text021 {
  color: var(--lightmodetext);
  font-size: 12px;
  align-self: flex-start;
  font-family: "Source Code Pro";
}
.home-container04 {
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-start;
}
.home-text022 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  font-family: "Source Code Pro";
  border-radius: 2rem;
  background-color: var(--bg3);
}
.home-text023 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  font-family: "Source Code Pro";
  border-radius: 2rem;
  background-color: var(--bg3);
}
.home-text024 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  font-family: "Source Code Pro";
  padding-top: 8px;
  border-radius: 2rem;
  background-color: var(--bg3);
}
.home-text025 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  font-family: "Source Code Pro";
  border-radius: 2rem;
  padding-bottom: 8px;
  background-color: var(--bg3);
}
.home-text026 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  font-family: "Source Code Pro";
  padding-top: 8px;
  border-radius: 2rem;
  padding-bottom: 8px;
  background-color: var(--bg3);
}
.home-text027 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  box-shadow: var(--boxshadowcolor) 5px 5px 10px 0px;
  font-family: "Source Code Pro";
  padding-top: 8px;
  border-radius: 2rem;
  padding-bottom: 8px;
  background-color: var(--bg3);
}
.home-text028 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  font-family: "Source Code Pro";
  padding-top: 8px;
  border-radius: 2rem;
  padding-bottom: 8px;
  background-color: var(--bg3);
}
.home-gallery-card1 {
  width: 100%;
  height: 560px;
  display: flex;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  align-items: center;
  border-color: var(--dl-color-gray-800);
  border-width: 1px;
  border-radius: 24px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--bg2);
}
.home-image1 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-container05 {
  height: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-project-detail1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.home-container06 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
}
.home-text029 {
  color: rgb(116, 198, 157);
  font-size: 1.5rem;
  font-family: "Source Code Pro";
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 2px;
  text-transform: none;
  text-decoration: none;
}
.home-text034 {
  color: var(--lightmodetext);
  font-size: 15px;
  align-self: flex-start;
  font-family: "Source Code Pro";
}
.home-text036 {
  font-style: italic;
  font-weight: 400;
}
.home-text037 {
  color: var(--lightmodetext);
  font-size: 12px;
  align-self: flex-start;
  font-family: "Source Code Pro";
}
.home-container07 {
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text044 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  font-family: "Source Code Pro";
  border-radius: 2rem;
  padding-bottom: 8px;
  background-color: var(--bg3);
}
.home-text045 {
  color: var(--lightmodetext);
  font-size: 12px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  font-family: "Source Code Pro";
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 2rem;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--bg3);
}
.home-text046 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  font-family: "Source Code Pro";
  border-radius: 2rem;
  padding-bottom: 8px;
  background-color: var(--bg3);
}
.home-gallery-card2 {
  width: 100%;
  height: 560px;
  display: flex;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  align-items: center;
  border-color: var(--dl-color-gray-800);
  border-width: 1px;
  border-radius: 24px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--bg2);
}
.home-image2 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-container08 {
  height: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-project-detail2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.home-container09 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
}
.home-text047 {
  color: rgb(116, 198, 157);
  font-size: 1.5rem;
  font-family: "Source Code Pro";
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 2px;
  text-transform: none;
  text-decoration: none;
}
.home-text052 {
  color: var(--lightmodetext);
  font-size: 15px;
  align-self: flex-start;
  font-family: "Source Code Pro";
}
.home-text054 {
  font-style: italic;
  font-weight: 400;
}
.home-text055 {
  color: var(--lightmodetext);
  font-size: 12px;
  align-self: flex-start;
  font-family: "Source Code Pro";
}
.home-container10 {
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text058 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  font-family: "Source Code Pro";
  border-radius: 2rem;
  padding-bottom: 8px;
  background-color: var(--bg3);
}
.home-text059 {
  color: var(--lightmodetext);
  font-size: 12px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  font-family: "Source Code Pro";
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 2rem;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--bg3);
}
.home-text060 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  font-family: "Source Code Pro";
  border-radius: 2rem;
  padding-bottom: 8px;
  background-color: var(--bg3);
}

.home-heading-container1 {
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 24px;
  flex-direction: column;
}
.home-text061 {
  color: var(--lightmodetext);
  font-size: 48px;
  font-family: "Kanit";
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 2px;
  text-transform: none;
  text-decoration: none;
}
.home-text063 {
  color: var(--bg1);
}
.home-text065 {
  color: var(--lightmodetext);
  font-size: 24px;
  align-self: center;
  text-align: center;
  font-family: "Source Code Pro";
  line-height: 1.55;
  letter-spacing: 2px;
  text-transform: none;
  text-decoration: none;
}
.home-container13 {
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  align-items: flex-start;
  border-color: var(--dl-color-gray-800);
  border-width: 1px;
  border-radius: 16px;
  margin-bottom: var(--dl-space-space-tripleunit);
  margin-top: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--bg2);
}
.home-container14 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text066 {
  color: var(--lightmodetext);
  font-family: "Kanit";
}
.home-text067 {
  color: var(--lightmodetext);
  font-size: 0.75em;
  font-family: "Source Code Pro";
}
.home-text068 {
  color: var(--lightmodetext);
  font-size: 12px;
  font-family: "Source Code Pro";
}
.home-container15 {
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container16 {
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text069 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 10px;
  align-self: flex-start;
  box-shadow: var(--boxshadowcolor) 5px 5px 10px 0px;
  font-family: "Source Code Pro";
  border-radius: 2rem;
  padding-bottom: 8px;
  background-color: var(--bg3);
}
.home-text070 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 10px;
  align-self: flex-start;
  box-shadow: var(--boxshadowcolor) 5px 5px 10px 0px;
  font-family: "Source Code Pro";
  border-radius: 2rem;
  padding-right: 8px;
  padding-bottom: 8px;
  background-color: var(--bg3);
}
.home-text071 {
  color: var(--lightmodetext);
  font-size: 12px;
  font-family: "Source Code Pro";
}
.home-container17 {
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  align-items: flex-start;
  border-color: var(--dl-color-gray-800);
  border-width: 1px;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--bg2);
}
.home-container18 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text072 {
  color: var(--lightmodetext);
  font-family: "Kanit";
}
.home-text073 {
  color: var(--lightmodetext);
  font-size: 0.75em;
  font-family: "Source Code Pro";
}
.home-text074 {
  color: var(--lightmodetext);
  font-size: 12px;
  font-family: "Source Code Pro";
}
.home-container19 {
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container20 {
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text081 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 10px;
  align-self: flex-start;
  box-shadow: var(--boxshadowcolor) 5px 5px 10px 0px;
  font-family: "Source Code Pro";
  border-radius: 2rem;
  padding-bottom: 8px;
  background-color: var(--bg3);
}
.home-text082 {
  color: var(--lightmodetext);
  padding: var(--dl-space-space-unit);
  font-size: 10px;
  align-self: flex-start;
  box-shadow: var(--boxshadowcolor) 5px 5px 10px 0px;
  font-family: "Source Code Pro";
  border-radius: 2rem;
  padding-bottom: 8px;
  background-color: var(--bg3);
}
.home-text083 {
  color: var(--lightmodetext);
  font-size: 12px;
  font-family: "Source Code Pro";
}
.home-container21 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading-container2 {
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.home-text084 {
  color: var(--lightmodetext);
  font-size: 48px;
  font-family: "Kanit";
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 2px;
  text-transform: none;
  text-decoration: none;
}
.home-text086 {
  color: var(--bg1);
}
.home-container22 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-doubleunit);
  grid-gap: var(--dl-space-space-fiveunits);
  max-width: 1400px;
  grid-template-columns: 1fr;
}
.home-gallery-card3 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  align-items: flex-start;
  border-color: var(--dl-color-gray-800);
  border-width: 1px;
  /* border-radius: 20px; */
  flex-direction: column;
  justify-content: center;
}
.home-image3 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
  /* border-radius: 20px; */
}
.home-container23 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: 32px;
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  /* border-radius: 20px; */
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 1.2)
  );
}
.home-container23:hover {
  opacity: 1;
}
.home-text088 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-family: "Source Code Pro";
  font-weight: 500;
  margin-bottom: 24px;
}
.home-text089 {
  color: var(--dl-color-gray-white);
  text-align: center;
  font-family: "Source Code Pro";
}
.home-gallery-card4 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  align-items: flex-start;
  border-color: var(--dl-color-gray-800);
  border-width: 1px;
  /* border-radius: 20px; */
  flex-direction: column;
  justify-content: center;
}
.home-image4 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
  /* border-radius: 20px; */
}
.home-container24 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: 32px;
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  /* border-radius: 20px; */
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 1.2)
  );
}
.home-container24:hover {
  opacity: 1;
}
.home-text090 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-family: "Source Code Pro";
  font-weight: 500;
  margin-bottom: 24px;
}
.home-text091 {
  color: var(--dl-color-gray-white);
  text-align: center;
  font-family: "Source Code Pro";
}
.home-container25 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-text092 {
  color: var(--lightmodetext);
  font-size: 48px;
  font-family: "Kanit";
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-fourunits);
  letter-spacing: 2px;
  text-transform: none;
  text-decoration: none;
  margin-top: 40px;
}
.home-text094 {
  color: var(--bg1);
}
.home-container26 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image5 {
  width: 500px;
  object-fit: cover;
}
.home-container27 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-container28 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-testimonial {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container29 {
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon12 {
  fill: var(--lightmodetext);
  width: 48px;
  margin-bottom: -6rem;
}
.home-text096 {
  color: var(--lightmodetext);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: 48px;
  text-align: center;
  font-family: "Source Code Pro";
  padding-left: 32px;
  margin-bottom: 48px;
  padding-right: 32px;
}
.home-container30 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon14 {
  fill: var(--lightmodetext);
  width: 48px;
  margin-top: -6rem;
}
.home-text099 {
  color: var(--lightmodetext);
  font-size: 1.5rem;
  max-width: 600px;
  text-align: center;
  font-family: "Source Code Pro";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text100 {
  color: var(--lightmodetext);
  max-width: 600px;
  text-align: center;
  font-family: "Source Code Pro";
  font-weight: 600;
}
.home-text101 {
  font-style: normal;
  font-weight: 500;
}
.home-heading-container3 {
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.home-text102 {
  color: var(--bg1);
  margin: var(--dl-space-space-doubleunit);
  align-self: flex-end;
}
.home-container31 {
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: flex-end;
  flex-direction: row;
}
.home-container32 {
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  align-items: flex-start;
  border-color: var(--dl-color-gray-800);
  border-width: 1px;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--bg2);
}
.home-container33 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text106 {
  color: var(--lightmodetext);
  font-size: 1.3em;
  font-family: "Kanit";
}
.home-text107 {
  color: var(--lightmodetext);
  font-size: 0.8em;
  font-family: "Source Code Pro";
}
.home-container34 {
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px var(--boxshadowcolor);
  align-items: flex-start;
  border-color: var(--dl-color-gray-800);
  border-width: 1px;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--bg2);
}
.home-container35 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text108 {
  color: var(--lightmodetext);
  font-size: 1.3em;
  font-family: "Kanit";
}
.home-text109 {
  color: var(--lightmodetext);
  font-size: 0.8em;
  font-family: "Source Code Pro";
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  border-color: var(--dl-color-gray-800);
  border-width: 0px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  border-top-width: 1px;
}
.home-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-icon16 {
  fill: var(--lightmodetext);
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-unit);
}
.home-icon18 {
  fill: var(--lightmodetext);
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-unit);
}
.home-icon20 {
  fill: var(--lightmodetext);
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-unit);
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon22 {
  fill: var(--lightmodetext);
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-unit);
}
.home-logo1 {
  color: var(--lightmodetext);
  font-size: 18px;
  font-style: normal;
  font-family: "Overpass";
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-logo2 {
  color: var(--lightmodetext);
  font-size: 18px;
  font-style: normal;
  font-family: "Overpass";
  font-weight: 700;
  line-height: 1.55;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
@media (max-width: 991px) {
  .home-projects2 {
    width: 60%;
    grid-template-columns: 1fr;
  }

  .home-text084 {
    margin-top: var(--dl-space-space-fourunits);
  }
  .home-container22 {
    width: 80%;
    grid-template-columns: 1fr;
  }
  .home-image5 {
    width: 300px;
  }
  .home-icon12 {
    width: 40px;
  }
  .home-text096 {
    font-size: 16px;
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .home-icon14 {
    width: 40px;
  }
}
@media (max-width: 767px) {
  .home-navbar {
    position: relative;
    padding: 16px;
  }
  .home-links-container {
    display: none;
  }
  .home-light-mode1 {
    display: none;
  }
  .home-night-mode1 {
    display: flex;
  }

  .home-heading-container {
    width: 100%;
  }
  .home-projects2 {
    width: 80%;
  }
  .home-gallery-card {
    flex-direction: column;
  }
  .home-text014 {
    font-size: 20px;
  }
  .home-gallery-card1 {
    flex-direction: column;
  }
  .home-text029 {
    font-size: 20px;
  }
  .home-gallery-card2 {
    flex-direction: column;
  }
  .home-text047 {
    font-size: 20px;
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-text061 {
    font-size: 46px;
  }
  .home-text065 {
    font-size: 16px;
  }
  .home-container15 {
    padding-left: 0;
    padding-right: 0;
  }
  .home-container19 {
    padding-left: 0;
    padding-right: 0;
  }
  .home-heading-container2 {
    width: 100%;
  }
  .home-container22 {
    width: 100%;
  }
  .home-text092 {
    font-size: 34px;
  }
  .home-image5 {
    display: none;
  }
  .home-text099 {
    font-size: 20px;
  }
  .home-heading-container3 {
    width: 100%;
  }
  .home-text102 {
    font-size: 34px;
    text-align: center;
  }
}
@media (max-width: 479px) {
  .home-icon08 {
    width: 16px;
    height: 16px;
  }
  .home-icon10 {
    width: 16px;
    height: 16x;
  }
  .home-text009 {
    font-size: 22px;
  }
  .home-text013 {
    font-size: 12px;
  }
  .home-projects2 {
    width: 100%;
  }
  .home-text014 {
    font-size: 18px;
  }
  .home-text018 {
    font-size: 12px;
  }
  .home-text021 {
    font-size: 12px;
  }
  .home-text022 {
    font-size: 8px;
  }
  .home-text023 {
    font-size: 8px;
  }
  .home-text024 {
    font-size: 8px;
  }
  .home-text025 {
    font-size: 8px;
  }
  .home-text026 {
    font-size: 8px;
  }
  .home-text027 {
    font-size: 8px;
  }
  .home-text028 {
    font-size: 8px;
  }
  .home-image1 {
    height: 10rem;
  }
  .home-text029 {
    font-size: 18px;
  }
  .home-text034 {
    font-size: 12px;
  }
  .home-text037 {
    font-size: 12px;
  }
  .home-text044 {
    font-size: 8px;
  }
  .home-text045 {
    font-size: 8px;
  }
  .home-text046 {
    font-size: 8px;
  }
  .home-image2 {
    height: 10rem;
  }
  .home-text047 {
    font-size: 18px;
  }
  .home-text052 {
    font-size: 12px;
  }
  .home-text055 {
    font-size: 12px;
  }
  .home-text058 {
    font-size: 8px;
  }
  .home-text059 {
    font-size: 8px;
  }
  .home-text060 {
    font-size: 8px;
  }

  .home-text061 {
    font-size: 28px;
  }
  .home-text071 {
    font-size: 10px;
  }
  .home-text083 {
    font-size: 10px;
  }
  .home-text084 {
    font-size: 36px;
  }
  .home-text088 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text090 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-icon12 {
    width: 24px;
    margin-bottom: 0px;
  }
  .home-text096 {
    width: 250px;
    padding: 0;
    font-size: 12px;
  }
  .home-icon14 {
    width: 24px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-heading-container3 {
    flex-direction: column;
  }
  .home-text102 {
    align-self: center;
  }
}
